<ion-header>
  <app-header title="Native Camera">
      <ion-back-button slot="start"></ion-back-button>
  </app-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngIf="image">
      <ion-col>
        <img [src]="image"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="tackPicture()">Take Picture</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        async: {{data$|async|json}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(data$|async) as data">
      <ion-col>
        <!-- TODO: using library to draw 3D Object -->
        <div id="square" #square [ngStyle]="{'transform': 'rotate3d(' + data[0] + ', ' + data[1] + ', ' + data[2] + ', ' + data[3] + 'turn)'}"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>