<app-header title="Blog item" backBtn="true"></app-header>
<ion-content>
  <ion-grid *ngIf="post$|async as post">
    <ion-row>
      <ion-col padding>
        <ion-title color="primary">
            {{post?.title}}
        </ion-title>
        <ion-text margin-top>
          {{post?.body}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="(comments$|async) as comments">
    <ion-row>
      <ion-col>
        <ion-text>Commentaires:</ion-text>
        <ion-list>
          <ion-item *ngFor="let comment of comments">
            <ion-label text-wrap>
              <ion-text color="primary">
                <h3>{{comment?.name}}</h3>
              </ion-text> 
              <ion-text>
                <p><i><a [routerLink]="'../../users/' + comment?.email.split('@')[0].toLowerCase()">{{comment?.email}}</a></i></p>
              </ion-text>
              <p>{{comment?.body}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

